<ul id="ul-productos">
  <nav class="navbar navbar-light">

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Todos los productos
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Top Ofertas</a>
        <hr>
        <a class="dropdown-item" href="#">Smartphones</a>
        <hr>
        <a class="dropdown-item" href="#">iPad</a>
        <hr>
        <a class="dropdown-item" href="#">iMac</a>
        <hr>
        <a class="dropdown-item" href="#">Portátiles</a>
        <hr>
        <a class="dropdown-item" href="#">iPhone</a>
        <hr>
        <a class="dropdown-item" href="#">Consola</a>
        <hr>
        <a class="dropdown-item" href="#">AirPods</a>
        <hr>
        <a class="dropdown-item" href="#">Tablet</a>
        <hr>
        <a class="dropdown-item" href="#">Accesorios</a>
      </div>
    </div>

    <li>
      <a class="navbar-brand  d-xs-none " href="#">Top Ofertas</a>
    </li>

    <li>
      <a class="navbar-brand" href="#">Smartphones</a>
    </li>

    <li>
      <a class="navbar-brand" href="#">iPad</a>
    </li>

    <li>
      <a class="navbar-brand" href="#">iMac</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Portátiles</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">iPhone</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Consolas</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">AirPods</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Tablet</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Accesorios</a>
    </li>


  </nav>
</ul>
