#ul-productos {
  list-style: none;
background-color: rgb(233, 237, 240);
}

li:hover {
  border-radius: 10px;
  background-color: #ebf7f7;
}

li {
  padding: 10px;
}

a {
  font-size: 15px;
}

@media (max-width: 768px) {
  #ocultar {
    display: none;
  }
}
