<ul id="ul-productos">
  <nav class="navbar navbar-light">
  <div class="btn-menu">
    <label for="btn-menu">☰ Todos los productos</label>
  </div>

  <input type="checkbox" id="btn-menu">
  <div class="container-menu">
    <div class="cont-menu">
      <nav>
        <a href="">Top Ofertas</a>
        <a href="">Smartphones</a>
        <a href="">iPad</a>
        <a href="">iMac</a>
        <a href="">Portátiles</a>
        <a href="">iPhone</a>
        <a href="">Consoles</a>
        <a href="">AirPods</a>
        <a href="">Tablet</a>
        <a href="">Accesorios</a>
      </nav>
        <label  for="btn-menu">&#88;</label>


    </div>
  </div>





    <li>
      <a class="navbar-brand  d-xs-none" id="ocultar"  href="#">Top Ofertas</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar"  href="#">Smartphones</a>
    </li>

    <li>
      <a class="navbar-brand"  id="ocultar" href="#">iPad</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">iMac</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Portátiles</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">iPhone</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Consolas</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">AirPods</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Tablet</a>
    </li>

    <li>
      <a class="navbar-brand" id="ocultar" href="#">Accesorios</a>
    </li>


  </nav>
</ul>
