#icono {
  max-height: 120px;
}

#li-usuario-cesta{
  list-style: none;
  display: flex;
  color: white;
  margin-top: 10px;
}

a {
  color: white;
}

li:hover:not(:nth-child(5)) {
  border-radius: 10px;
  background-color: #1f2121;
}

#li-usuario-cesta span {
  margin-top: 10px;
  font-size: 30px;
}



#li-usuario-cesta {
  margin-top: 10px;
  font-size: 30px;
}

body {
  scrollbar-color: blue lightblue;
}
