#icono {
  max-height: 120px;
}

#li-usuario-cesta{
  list-style: none;
  display: flex;
  color: black;
  margin-top: 10px;
}

a {
  color: black;
}

li:hover:not(:nth-child(5)) {
  border-radius: 10px;
  background-color: #ebf7f7;
}

#li-usuario-cesta span {
  margin-top: 10px;
  font-size: 30px;
}



#li-usuario-cesta {
  margin-top: 10px;
  font-size: 30px;
}

input#id-input {
  input#id-input{
    width: 50%;
  }
}

@media (max-width: 426px) {
  input#id-input{
    width: 100% !important;
  }
}

