<div class="flex flex-wrap justify-between items-center py-4 px-5 gap-4 lg:py-5 lg:px-7 lg:gap-8 bg-black">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul id="li-header">
   <li><img id="icono" src="../../assets/logo.png" width="150px"></li>
    <li>Quiénes somos</li>
    <li>Vende tu tech</li>
    <li>Ayuda</li>
    <li>
      <div id="div-buscador">
      <input type="text" class="form-control" placeholder="¿Qué andas buscando?" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button class="btn btn-outline-secondary bg-light" type="button">Buscar</button>
      </div>
      </li>
      <li><span class="material-symbols-outlined">
        person
        </span></li>
        <li><span class="material-symbols-outlined">
          weight
          </span></li>
  </ul>
</div>

